      #titles {
        font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
      }

      #titles, [id*="waveform-visualiser"] {
        margin: 24px auto;  
        width: 1000px;
      }


      [id*="waveform-visualiser"] [class*="-container"] {
        box-shadow: 3px 3px 20px #919191;
        margin: 0 0 24px 0;
        -moz-box-shadow: 3px 3px 20px #919191;
        -webkit-box-shadow: 3px 3px 20px #919191;
        line-height: 0;
      }

      .overview-container {
        height: 85px;
      }

      #second-waveform-visualiser-container [class*="-container"] {
        background: #111;
      }
      

      #demo-controls {
        margin: 0 auto 24px auto;
        width: 1000px;
      }

      #demo-controls > * {
        vertical-align: middle;
      }

      #demo-controls button {
        background: #fff;
        border: 1px solid #919191;
        cursor: pointer;
      }

      #vermittler{
        display: none; 
      }
      #sendToDatabase{
        display: none;
      }

      .dragDrop{
        position: fixed;
        top: 50%;
        left: 50%;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
        background-color: white;
        border-color: lightgrey;
        border-width: 5px;
        border-style: dashed;
      }
      .myText{
        padding-left: 200px;
        padding-right: 200px;
        font-family: sans-serif;
        font-weight: bold;
        font-size: x-large;
      }
      .dragDrop.over { 
        border-color: black;
      }
      #audioTool{
        visibility: hidden;
        
      }
